.row {
    width: 90.6%;
    padding: 2% 4.7%;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 4.8rem;
}

.action-icons {
    width: 4%;
}

.actionBar {
    width: 100%;
}

.action-icons svg {
    display: block;
    //width: 36px;
}

.search-icon,
.notifications-icon,
.settings-icon,
.user-icon {
    max-width: 100%;
    max-height: 100%;
}

.current-time {
    text-align: right;
    color: #ffffff;
    font-weight: 500;
    font-family: Open Sans;
    display: inline-block;
}

.hour {
    font-size: 58px;
    margin: 0;
}

.hour-label {
    color: #ffffff;
    font-weight: 500;
    font-family: Open Sans;
    display: inline-block;
}

.hour-indicator {
    font-size: 48px;
    margin-top: -0.5rem;
    margin-left: 10px;
}

.tab-label-action-bar {
    color: white;
    font-weight: 600;
    font-family: Open Sans;
    font-size: 28px;
    z-index: 1;
    padding: 20px 40px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 57px;
    animation: labels-appear .5s;
}

.Hidden {
    display: none;
}

.selected-action-bar {
    color: #8500DB;
    font-weight: 600;
    background-color: #ffffff;
    -webkit-box-shadow: 0 16px 15px 0 rgba(48, 0, 78, 0.6);
    box-shadow: 0 16px 15px 0 rgba(48, 0, 78, 0.6);
}

.tab-elements-labels-action-bar {
    display: inline-block;
    width: 15%;
    text-align: center;
    margin-right: 60px;
    animation: tab-action-bar-icons .5s;
}
.tab-elements-labels-action-bar svg{
    display: block;
    height: 120px;
    margin: auto;
    animation: bar-icons-increase .5s;
}
.clock-widget {
    display: inline-block;
    position: absolute;
    width: auto;
    top: 20px;
    right: 4.7%;
}
.action-bar-content-menu {
    height: 214px;
}

.row-action-bar {
    background: -webkit-gradient(linear, left top, right top, from(#3822FF), to(#AB00C7)) !important;
    background: -webkit-linear-gradient(left, #3822FF, #AB00C7) !important;
    background: -o-linear-gradient(left, #3822FF, #AB00C7) !important;
    background: linear-gradient(to right, #3822FF, #AB00C7) !important;
}

.row-action-bar .row-tabbar {
    display: block;
    position: relative;
    height: auto;
    padding: 4% 4.7%;
    animation: tabbar-increases .5s;
}

.row-action-bar{
  height: 480px;
  /*background-image: -webkit-gradient(linear, right top, left top, from(#540062e6), to(#03055ce6));
  background-image: -webkit-linear-gradient(right, #540062e6, #03055ce6);
  background-image: -o-linear-gradient(right, #540062e6, #03055ce6);
  background-image: linear-gradient(to left, #540062e6, #03055ce6);*/
}

.border-menu-action-bar {
    /*height: 200px;*/
    border-bottom: 1000px solid rgba(0, 0, 0, 0.76);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.current-time-action-bar {
    width: 100%;
    text-align: right;
    color: #ffffff;
    font-weight: 500;
    font-family: Open Sans;
}

.hour-action-bar {
  font-size: 74px;
  margin-top: -5px;
  /*margin-left: 26rem;*/
}
.date-action-bar{
  font-size: 20px;
}

.content-hour-action-bar{
  display: -ms-flexbox;
  display: flex;
  padding: 0px 4.7% 2%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 3.8rem;
}

.icon-action-bar{
  margin-left: 5px;
  margin-top: 36px;
  width: 100px;
  /*! margin: 49px 10px 14px 29px; */
}
.content-icon-action-bar{
  width: 99.4%;
  height: 70%;
  margin: 5px;
  /*border: 1px solid red;*/
  text-align: center;
}
